body {
  text-align: center;
 }

#page-wrap {
  text-align: right;
  width: 1400px;
  margin: 0 auto;
}


#grad1 {
    height: px;
    background: #ffddcc; /* For browsers that do not support gradients */
    background: linear-gradient(#ffddcc, #d9a7c7); /* Standard syntax (must be last) */
}


p{
  position: relative;
  top:-500px;
  left:600px;
  font-size:35px;
