h1{
  font-family: 'Open Sans Condensed', sans-serif;
  position: absolute;
  top:80px;
  left:205px;
  font-size: 80px;
}

h2{
  font-family: 'Abril Fatface', cursive;
  position: absolute;
  top:580px;
  left:20px;
  font-size:35px;
}

img{
  width: 20%;
  position: absolute;
  top: 370px;
  left: 1050px;
}

.first{
  background: white;
  position:absolute;
  top: 450px;
  left: -150px;
  height: 100px;
  width: 330px;
  font-size:25px;
  overflow:auto;
  border:5px solid black;
  font-size: 19px;
}

.second{
  background: white;
  position:absolute;
  top: 450px;
  left: 290px;
  height: 100px;
  width: 330px;
  font-size:25px;
  overflow:auto;
  border:5px solid black;
  font-size: 19px;
}

.third{
  background: white;
  position:absolute;
  top: 450px;
  left: 730px;
  height: 100px;
  width: 330px;
  font-size:25px;
  overflow:auto;
  border:5px solid black;
  font-size: 19px;
}



#question2{
font-family: 'Bree Serif', serif;
position:absolute;
top: 200px;
left: 230px;
display:flex;
flex-wrap:wrap;
width: 75%;
font-size: 35px;
}
#question2 div{
flex-grow:1;
}

#answer2{
font-family: 'Nova Mono', monospace;
position:absolute;
top: 50px;
left: 115px;
display:flex;
flex-wrap:wrap;
width: 95%;
font-size: 25px;
}
#question4 div{
flex-grow:1;
}

#question4{
font-family: 'Bree Serif', serif;
position:absolute;
top: 70px;
left: 0px;
display:flex;
flex-wrap:wrap;
width: 100%;
font-size: 35px;
}
#question4 div{
flex-grow:1;
}

#answer4{
font-family: 'Nova Mono', monospace;
position:absolute;
top: 50px;
left: -110px;
display:flex;
flex-wrap:wrap;
width: 100%;
font-size: 25px;
}
#answer4 div{
flex-grow:1;
}

#question6{
font-family: 'Bree Serif', serif;
position:absolute;
top: 70px;
left: -10px;
display:flex;
flex-wrap:wrap;
width: 115%;
font-size: 35px;
}
#question6 div{
flex-grow:1;
}

#answer6{
font-family: 'Nova Mono', monospace;
position:absolute;
top: 70px;
left: 50px;
display:flex;
flex-wrap:wrap;
width: 100%;
font-size: 25px;
}
#answer6 div{
flex-grow:1;
}

#grad11 {
    height: 770px;
    background: #ffddcc; /* For browsers that do not support gradients */
    background: linear-gradient(#ffddcc, #d9a7c7); /* Standard syntax (must be last) */
}
