#grad1 {
    height: 672px;
    background: #ffddcc; /* For browsers that do not support gradients */
    background: linear-gradient(#ffddcc, #d9a7c7); /* Standard syntax (must be last) */
}

h1{
  font-family: 'Open Sans Condensed', sans-serif;
  position: absolute;
  top:200px;
  left:590px;
  font-size:50px;
}
h2{
  position: absolute;
  top:255px;
  left:600px;
  font-size:35px;
}
img{
  position: absolute;
  top:535px;
  left:10px;
}


.container {
    position: relative;
}
h7 {
    position: absolute;
    top: 695px;
    left: 15px;
}
img {
    width: 99%;
    height: 26%;
    opacity: 0.1;
}


.sidenav{
  position:absolute;
  bottom:0px;
  right:20px;
  font-size:18px;
}

.fa {
  padding: 20px;
  font-size: 40px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 60%;
}
