#grad1 {
    height: 703px;
    background: #ffddcc; /* For browsers that do not support gradients */
    background: linear-gradient(#ffddcc, #d9a7c7); /* Standard syntax (must be last) */
}

h1{
  font-family: 'Open Sans Condensed', sans-serif;
  position: absolute;
  top:200px;
  left:560px;
  font-size:60px;
}
h2{
  position: absolute;
  top:270px;
  left:590px;
  font-size:40px;
}

img{
  position: relative;
  bottom:150px;
  left:10px;
}


.container {
    position: relative;
}
h7 {
    position: absolute;
    top: 720px;
    left: 15px;
    font-size:17.5px;
}
img {
    width: 99%;
    height: -9%;
    opacity: 0.3;
}

.sidenav {
    position:absolute;
    top: 705px;
    left:1280px;
    font-size:18px;
}

.fa {
  padding: 20px;
  font-size: 40px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 60%;
}
